# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token_here

# API base URL
SMABILITY_BASE_URL=https://example.com/SmabilityAPI

# Device API tokens
SM_TOKEN_DEVICE_1=your_device_1_api_token_here
SM_TOKEN_DEVICE_2=your_device_2_api_token_here

# Timezone
TZ=America/Mexico_City
